<main class="main">
  <div class="mt-6 w-3/4">
    <% if @user.pending_requests_received.any? && @user == current_user %>
      <div class="grid gap-[1px] mb-6 bg-blue-300 rounded outline outline-blue-300 outline-1">
        <div class="py-1 px-4 text-sm text-white bg-blue-300 rounded">Respond to requests</div>
        <% @user.pending_requests_received.each do |request_received| %>
          <div class="grid py-2 px-4 bg-neutral-50 grid-cols-[1fr_auto_auto]">
            <%= link_to request_received.sender.username, user_path(request_received.sender.username) %>
            <%= button_to "Confirm", friend_request_path(request_received.id), class: "bg-white hover:bg-gray-100 text-green-500 font-semibold py-1 px-2 text-xs border border-gray-400 rounded",
                        params: { friend_request: { confirmed: "true" }}, method: :patch %>
            <%= button_to "Ignore", friend_request_path(request_received.id), class: "ml-2 bg-white hover:bg-gray-100 text-gray-500 font-semibold py-1 px-2 text-xs border border-gray-400 rounded",
                        method: :delete %>
          </div>
        <% end %>
      </div>
    <% end %>
    <% if @user.pending_requests_sent.any? && @user == current_user %>
      <div class="grid gap-[1px] mb-6 rounded bg-neutral-400 outline outline-neutral-400 outline-1">
        <div class="py-1 px-4 text-sm text-white rounded bg-neutral-400">Sent requests</div>
        <% @user.pending_requests_sent.each do |request_sent| %>
          <div class="grid py-2 px-4 bg-slate-50 grid-cols-[1fr_auto]">
            <%= link_to request_sent.recipient.username, user_path(request_sent.recipient.username) %>
            <span class="py-1 px-2 text-xs text-yellow-800 bg-yellow-100 rounded border border-yellow-300">Pending</span>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="grid bg-blue-500 rounded gap-[1px] outline outline-1 outline-blue-500">
      <div class="py-1 px-4 text-sm text-white bg-blue-500 rounded">All friends</div>
      <% if @user.all_friends_usernames.any? %>
        <% @user.all_friends_usernames.each do |f_username| %>
          <div class="py-2 px-4 bg-slate-50">
            <%= link_to f_username, user_path(f_username) %>
          </div>
        <% end %>
      <% else %>
        <div class="py-2 px-4 bg-slate-50">
          No friends to show at the moment.
        </div>
      <% end %>
    </div>
  </div>
</main>
