<%# TODO: Extract partials from each form section -> my-pets, profile-photo, account-details %>
<main id="main">
  <h2 class="my-6 text-3xl">Dashboard</h2>
  <div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), 
          html: { method: :put, class: "grid gap-10" }) do |f| %>
      <% if resource.errors.any? %>
        <div class="p-4 bg-red-100 rounded outline outline-red-300">
          <%= render "devise/shared/error_messages", resource: resource %>
        </div>
      <% end %>
      <div id="edit-my-pets" class="grid gap-1 bg-blue-300 rounded outline outline-blue-300"
              data-controller="toggle">
        <div class="py-1 px-4 text-lg text-white bg-blue-300">My Pets</div>
        <div class="grid justify-between cursor-pointer grid-cols-[1fr_auto] bg-slate-50"
                data-action="click->toggle#togglePets:once" >
          <div class="p-4 font-bold bg-slate-50"
                  data-toggle-target="pets">
            <div class="grid justify-between p-1 grid-cols-[1fr_1fr]">
              <% if current_user.pet %>
                <div>
                  <%= current_user.pet.name %>
                </div>
                <div>
                  <%= current_user.pet.age %>
                  <%= current_user.pet.age == 1 ? "year" : "years" %>
                  old
                </div>
              <% else %>
                Add a pet
              <% end %>
            </div>
          </div>
          <div class="hidden p-4 font-bold bg-slate-50"
                  data-toggle-target="pets">
            <!-- HACK: Come back later and fix this. Allow adding additional pets.
                    Get rid of if-statement and one of the forms -->
            <% if current_user.pet %>
              <%= f.fields_for :pet do |builder| %>
                <%= builder.label :name, "Name: " %>
                <%= builder.text_field :name, class: "bg-orange-100 border-2 rounded focus:outline-orange-300 p-1" %>
                <%= builder.label :age, "Age: " %>
                <%= builder.text_field :age, class: "w-1/4 bg-orange-100 border-2 rounded focus:outline-orange-300 p-1" %>
              <% end %>
            <% else %>
              <%= f.fields_for :pet, Pet.new do |builder| %>
                <%= builder.label :name, "Name: " %>
                <%= builder.text_field :name, class: "bg-orange-100 border-2 rounded focus:outline-orange-300 p-1" %>
                <%= builder.label :age, "Age: " %>
                <%= builder.text_field :age, class: "w-1/4 bg-orange-100 border-2 rounded focus:outline-orange-300 p-1" %>
              <% end %>
            <% end %>
          </div>
          <div class="p-4 font-bold bg-slate-50">
            <%= image_tag "pencil-ui-circle-svgrepo-com.svg", { class: '', alt: 'A pencil icon', size: "30x30" }%>
          </div>
        </div>
      </div>
      <div class="grid gap-1 bg-blue-300 rounded outline outline-blue-300">
        <div class="py-1 px-4 text-lg text-white bg-blue-300">Profile Photo</div>
        <div class="grid justify-center p-4 bg-slate-50">
          <% if current_user.avatar.attached? %>
            <%= link_to image_tag(current_user.avatar_as_thumbnail("large").url), current_user.avatar.url %>
          <% else %>
            <div class="flex justify-center items-center text-8xl avatar-circle avatar-circle-lg">
              <%= current_user.username[0] %>
            </div>
          <% end %>
        </div>
        <div class="p-4 bg-slate-50">
          <%= f.label :avatar, "Upload: " %>
          <%= f.file_field :avatar %>
        </div>
        <% if current_user.avatar.attached? %>
          <div class="p-4 text-center bg-slate-50">
            <%# HACK: We should use POST here %>
            <%= link_to "Remove photo", { action: :remove_avatar },
                           class: "text-red-500", method: :get %>
          </div>
        <% end %>
      </div>
      <div class="grid gap-1 bg-blue-300 rounded outline outline-blue-300"
              data-controller="toggle">
        <div class="py-1 px-4 text-lg text-white bg-blue-300">Account Details</div>
        <div class="grid justify-between cursor-pointer grid-cols-[1fr_auto] bg-slate-50"
                data-action="click->toggle#toggleEmail:once">
          <div class="p-4 font-bold bg-slate-50"
                  data-toggle-target="email">
            <%= current_user.email %>
          </div>
          <div class="hidden p-4 font-bold bg-slate-50"
                  data-toggle-target="email">
            Update email:  
            <%= f.email_field :email, class: "bg-orange-100 border-2 rounded focus:outline-orange-300 p-1" %>
          </div>
          <div class="p-4 font-bold bg-slate-50">
            <%= image_tag "pencil-ui-circle-svgrepo-com.svg", { class: '', alt: 'A pencil icon', size: "30x30" }%>
          </div>
        </div>
        <div class="grid justify-between cursor-pointer grid-cols-[1fr_auto] bg-slate-50"
                data-action="click->toggle#toggleUsername:once">
          <div class="p-4 font-bold bg-slate-50"
                  data-toggle-target="username">
            <%= current_user.username %>
          </div>
          <div class="hidden p-4 font-bold bg-slate-50"
                  data-toggle-target="username">
            Update username: 
            <%= f.text_field :username, class: "bg-orange-100 border-2 rounded focus:outline-orange-300 p-1" %>
          </div>
          <div class="p-4 font-bold bg-slate-50">
            <%= image_tag "pencil-ui-circle-svgrepo-com.svg", { class: '', alt: 'A pencil icon', size: "30x30" }%>
          </div>
        </div>
        <div class="hidden p-4 font-bold bg-slate-50"
                data-toggle-target="currentPassword">
          <div class="text-red-400">
            *Enter current password: 
            <%= f.password_field :current_password, autocomplete: "current-password",
                                    class: "bg-purple-100 outline outline-orange-300 rounded p-1"%><br />
            <div class="mt-4 text-slate-800">* required for updating email or username</div>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 gap-4 text-center actions">
        <%= f.submit "Save Changes", 
              class: "bg-lime-500 hover:bg-lime-600 text-white text-lg font-bold tracking-wide py-3 px-4 rounded-lg cursor-pointer w-full" %>
        <%= link_to "Discard changes", dashboard_path %>
      </div>
    </div>
  <% end %>
</main>
