<!-- Sign-up page-->
<% if ['sessions', 'registrations'].include?(controller_name) %>
  <%# TODO: delete me %>
  <div class="text-s text-zinc-600 text-center"> log in with: test_user@example.com // password123</div>
<% end %>
<div class="flex justify-center items-center content-center flex-wrap h-4/5">
  <div class="w-96 flex flex-col gap-6">
    <div class="text-6xl font-bold text-blue-500 logo-font">
      <span>
        pawbook
        <%= image_tag "paw-3-svgrepo-com.svg", { class: 'logo-image', alt: 'A pawprint', size: '50x50' }%>
      </span>
   </div>
    <div class="text-xl font-medium">A community for pets & pet lovers, creating paw-sitive memories together.</div>
  </div>
  <div class="w-96 bg-white rounded-lg shadow-zinc-400 shadow-lg">
    <div class="p-4">
      <div class="mb-4 flex flex-col">
        <h1 class="font-bold text-lg">Sign Up</h1>
        <div>It’s quick and simple.</div>
        <hr class="self-center m-2 bg-slate-300 h-px border-0 w-full">
      </div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => 'pb-2 flex gap-3 flex-col justify-center items-center w-full'}) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field w-full">
          <%= f.email_field :email, autocomplete: "email",
          class: "p-3 border-2 rounded focus:outline-blue-500 placeholder-slate-500 w-full",
          placeholder: "Email" %>
        </div>
        <div class="field w-full">
          <%= f.text_field :username, autofocus: true,
          class: "p-3 border-2 rounded focus:outline-blue-500 placeholder-slate-500 w-full",
          placeholder: "Choose a username" %>
        </div>
        <div class="field w-full">
          <%= f.password_field :password, autocomplete: "new-password",
          class: "p-3 border-2 rounded focus:outline-blue-500 placeholder-slate-500 w-full",
          placeholder: "Password" %>
        </div>
        <div class="actions w-full">
         <%= f.submit "Create account", 
              class: "bg-lime-500 hover:bg-lime-600 text-white text-lg font-bold tracking-wide py-3 px-4 rounded-lg cursor-pointer w-full" %>
        </div>
        <%= render "devise/shared/links" %>
      <% end %>
    </div>
  </div>
</div>
