<%# TODO: Transition to using turbo-frames for comments %>
<%# TODO: Add "replying to" when nesting > 4 %>
<%# TODO: Only show 1 or 2 comments initially %>
<%#       User must press "show comments" to see more %>
<%# TODO: Comment should span till edge of container %>
<%#       At the moment a long comment wraps before edge %>
<% if comment.author  %>
  <% nested_level = 4 if nested_level >= 4  %>
  <div class="mt-6 grid nested-comment-lvl-<%= "#{ nested_level < 4 ? nested_level : 4 }" %>">
    <%= link_to root_path, class: "justify-self-end pr-2" do %>
      <div class="avatar-circle avatar-circle-sm">
        <% if comment.author.avatar.attached? %>
          <%= image_tag(comment.author.avatar_as_thumbnail("small").url) %>
        <% else %>
          <%= comment.author.username[0] %>
        <% end %>
      </div>
    <% end %>
    <div>
      <div class="grid py-1 px-8 mb-1 bg-gray-100 rounded-xl w-fit">
        <%= link_to comment.author.username, user_path(comment.author.username), class: "text-sm font-bold text-black", data: { turbo_frame: "_top" } %>
        <div><%= "commentid##{comment.id}" %></div>
        <div><%= comment.body %></div>
      </div>
      <div class="grid relative grid-flow-col gap-6 justify-start px-4 text-sm font-bold">
        <span>abbr ago</span><!-- #abbreviate_time_ago -->
        <div class="cursor-pointer">
          <%= render "reaction_menu", reactionable: comment %>
        </div>
        <div data-controller="toggle">
          <div data-action="click->toggle#toggle" class="cursor-pointer">Reply</div>
          <div data-toggle-target="content" class="hidden absolute top-8 right-1/4 z-10 p-2 w-96 bg-white rounded shadow-md outline outline-gray-300">
            <%= render 'comments/form-nested', commentable: comment %>
          </div>
        </div>
      </div>
    </div>
    <div></div>
  </div>
  <!-- Recursive call base case -->
  <% unless comment.comments.blank? %>
    <div class="grid grid-flow-row">
      <!-- Pass in a variable can persist until recursion terminates -->
      <%= render comment.comments, nested_level: nested_level + 1  %>
    </div>
  <% end %>
<% end %>
