<h2>Add a comment:</h2>
<%= form_with model: [ commentable, commentable.comments.build ] do |f| %>
  <%= f.hidden_field :commentable_id, value: commentable.id %>
  <p>
    <%= f.label :body %>
    <%= f.text_area :body, class: "bg-red-400" %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
