<main id="main">
  <div>
    <h1>Contacts</h1>
    <div>
      <%= form_for :chats, :url => "/chats/show", data: { turbo: false }, :html => { :method => 'GET' } do |f| %>
        I am: <%= current_user.username %>
        <%= f.label "Who do you want to chat with?" %> <br>
        <% @users.each do |user| %>
          <%= radio_button_tag(:recipient_id, user.id) %>
          <%= label_tag(:name, user.username) %> <br>
        <% end %>
        <%= f.submit "Chat"%>
      <% end %>
    </div>
  </div>
</main>
