<!-- Login page-->
<% if ['sessions', 'registrations'].include?(controller_name) %>
  <%# TODO: delete me %>
  <div class="text-sm text-zinc-600 text-center"> log in with: test_user@example.com // password123</div>
<% end %>
<div class="flex justify-center items-center content-center flex-wrap h-4/5">
  <div class="w-96 flex flex-col gap-6">
    <div class="text-6xl font-bold text-blue-500 logo-font">
      <span>
        pawbook
        <%= image_tag "paw-3-svgrepo-com.svg", { class: 'logo-image', alt: 'A pawprint', size: '50x50' }%>
      </span>
    </div>
    <div class="text-xl font-medium">A community for pets & pet lovers, creating paw-sitive memories together.</div>
  </div>
  <div class="w-96 bg-white rounded-lg shadow-zinc-400 shadow-lg">
    <div class="p-4">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'pb-2 flex gap-3 flex-col justify-center items-center w-full'}) do |f| %>
        <div class="field w-full">
          <%= f.email_field :email, autofocus: true, autocomplete: "email",
          class: "p-3 border-2 rounded focus:outline-blue-500 placeholder-slate-500 w-full",
          placeholder: "Email",
          value: "test_user1@example.com" %>
        </div>
        <div class="field w-full">
          <%= f.password_field :password, autocomplete: "current-password" ,
          class: "p-3 border-2 rounded focus:outline-blue-500 placeholder-slate-500 w-full",
          placeholder: "Password",
          value: "password123" %>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="field self-end">
            <%= f.check_box :remember_me, { checked: true } %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
        <div class="actions w-full">
          <%= f.submit "Sign in", 
              class: "bg-blue-500 hover:bg-blue-600 text-white text-lg font-bold tracking-wide py-3 px-4 rounded-lg cursor-pointer w-full" %>
        </div>
        <%= render "devise/shared/links" %>
      <% end %>
    </div>
  </div>
</div>
