<%= turbo_frame_tag post do %>
  <div class="p-4 mt-6 w-full bg-white rounded-lg shadow">
    <div id="post-author-info" class="grid gap-4 justify-start grid-cols-[auto_auto]">
      <div class="avatar-circle avatar-circle-md">
        <% if post.author.avatar.attached? %>
          <%= image_tag(post.author.avatar_as_thumbnail("small").url) %>
        <% else %>
          <%= post.author.username[0] %>
        <% end %>
      </div>
      <div id="author-time" class="grid gap-1">
        <%= link_to post.author.username, root_path, class: "self-end font-bold" %>
        <%= "#{time_ago_in_words(post.created_at)} ago" %>
      </div>
    </div>
    <!-- ---------time ago -->
    <% if post.postable_type == 'TextContent' %>
    <% elsif post.postable_type == 'PhotoContent' %>
      <% if post.images.attached?  %>
        <% post.images.each do |image| %>
          <%= image_tag(image.url)%> <!-- works -->
        <% end %>
      <% end %>
    <% elsif post.postable_type == 'MixedContent' %>
    <% end %>
  </div>
<% end %>
<%
=begin ========================== commented out ================================ %>
<% if post.images.attached?  %>
  <% post.images.each do |image| %>
    <%= image_tag(image.url)%>
  <% end %>
<% end %>
<%#= image_tag(post.image.url) if post.image.attached?  %>
<%= post.author.username %>
<%= post.postable.content %>
<%= "posted " + time_ago_in_words(post.created_at) + " ago" %>
<% ============================== commented out ================================
=end %>
