<%= turbo_frame_tag post do %>
  <div class="p-4 mt-6 w-full bg-white rounded-lg shadow">
    <div id="post-author-info" class="grid gap-4 justify-start grid-cols-[auto_auto_1fr]">
      <div class="text-sm avatar-circle avatar-circle-md">
        <% if post.author.avatar.attached? %>
          <%= image_tag(post.author.avatar_as_thumbnail("small").url) %>
        <% else %>
          <%= post.author.username[0] %>
        <% end %>
      </div>
      <div id="author-time" class="grid gap-1 text-sm">
        <%= link_to post.author.username, root_path, class: "self-end font-bold" %>
        <%= "#{time_ago_in_words(post.created_at)} ago" %>
      </div>
      <div class="justify-self-end">* * *</div>
    </div>
    <% if post.postable_type == 'TextContent' %>
      <div class="p-6">
        <%= post.postable.content %>
      </div>
    <% elsif post.postable_type == 'PhotoContent' %>
      <% if post.images.attached?  %>
        <% post.images.each do |image| %>
          <%= image_tag(image.url)%> <!-- works -->
        <% end %>
      <% end %>
    <% elsif post.postable_type == 'MixedContent' %>
    <% end %>
    <div>
      <%= "ðŸ‘ " + emoji_enum_count(post)['like'].to_s %>
      <%= "â¤ï¸  " + emoji_enum_count(post)['heart'].to_s %>
      <%= "ðŸ˜¹ " + emoji_enum_count(post)['laugh'].to_s %>
      <%= "ðŸ˜¥ " + emoji_enum_count(post)['sad'].to_s %>
    </div>
    <div id="post-reactions-comments" class="grid grid-cols-2">
      <div class="grid grid-flow-col outline">
        <%= render "reactions/button", reactionable: post, emoji_pic: "like-svgrepo-com.svg", kind: 0 %>
        <%= render "reactions/button", reactionable: post, emoji_pic: "heart-svgrepo-com.svg", kind: 1 %>
        <%= render "reactions/button", reactionable: post, emoji_pic: "cat-with-tears-of-joy-svgrepo-com.svg", kind: 2 %>
        <%= render "reactions/button", reactionable: post, emoji_pic: "sad-but-relieved-face-svgrepo-com.svg", kind: 3 %>
      </div>
      <div class="justify-self-end">3 comments</div>
    </div>
    <hr>
    <div id="post-reactions-comments" class="grid grid-cols-3">
      <div>Like</div>
      <div>Comment</div>
      <div>Share</div>
    </div>
    <hr>
    <div>
      <div>comment</div>
      <div>comment</div>
      <div>comment</div>
    </div>
  </div>
<% end %>
