<div id="post-author-info" class="grid gap-4 justify-start grid-cols-[auto_auto_1fr]">
  <div class="text-sm avatar-circle avatar-circle-md">
    <% if post.author.avatar.attached? %>
      <%= image_tag(post.author.avatar_as_thumbnail("small").url) %>
    <% else %>
      <%= post.author.username[0] %>
    <% end %>
  </div>
  <div id="author-time" class="grid gap-1 text-sm">
    <%= link_to post.author.username, user_path(post.author.username), class: "self-end font-bold", data: { turbo_frame: "_top" } %>
    <%= "#{time_ago_in_words(post.created_at)} ago" %>
  </div>
  <div class="relative justify-self-end self-start" data-controller="toggle">
    <div data-toggle-target="content" class="hidden absolute top-1/2 right-full z-10 p-2 w-max bg-white rounded shadow-md outline outline-gray-300">
      <% if post.author == current_user %>
        <%= link_to "Delete this post", post_path(post.id), class: "block text-sm text-blue-700 font-semibold py-1 px-2 hover:underline", method: :delete, data: { turbo_method: :delete } %>
      <% else %>
        <%= link_to "Send friend request", root_path, class: "block text-sm text-blue-700 font-semibold py-1 px-2 hover:underline" %>
        <%= link_to "Report this post", root_path, class: "block text-sm text-blue-700 font-semibold py-1 px-2 hover:underline" %>
      <% end %>
    </div>
    <%= button_tag "⋮", type: 'button', id: "", class: "text-lg font-bold", data: { action: "click->toggle#toggle"} %>
  </div>
</div>
