<%# TODO: Partition page into 3 using grid: %>
<%#     NAV      MAIN      CONTACTS             %>
<%#     25%      50%       25%             %>
<%#= link_to "Log out", destroy_user_session_path, class: "link", method: :delete, data: { turbo_method: :delete } %>
<div class="grid grid-cols-[1fr_1fr_1fr]">
  <div><%= render 'nav' %></div>
  <div><%= render 'main' %></div>
  <div><%= render 'contacts' %></div>
</div>
<%
=begin ========================== commented out ================================%>
<div>
  <% @posts.each do |post|  %>
    <div class="p-6 border-4 border-blue-700  text-red-600">
      <%= post.author.username %>
      <%= post.postable.content %>
      <%= "posted " + time_ago_in_words(post.created_at) + " ago" %>
    </div>
  <% end %>
</div>
<% ============================== commented out ================================
=end %>
