<div>
  <%= link_to "username", ""  %>
</div>
<div>
  <%= link_to "dashboard", dashboard_path  %>
</div>
<div>
  <%= link_to "friends", ""  %>
</div>
<div>
  <%= link_to "events", ""  %>
</div>
<div>
  <%= link_to "Log out", destroy_user_session_path, class: "link", method: :delete, data: { turbo_method: :delete } %>
</div>
<div>
  <!-- TODO: delete me -->
  #posts=<%= Post.count %><br>
  #TextContent=<%= Post.where(postable_type: 'TextContent').count %><br>
  #PhotoContent=<%= Post.where(postable_type: 'PhotoContent').count %><br>
  <% if flash.empty? %>
    <div>No flash messages.</div>
  <% else %>
    <% flash.each do |type, msg| %>
      <div><%= msg %></div>
    <% end %>
  <% end %>
</div>
