<div class="grid gap-x-4 gap-y-4 items-center p-6 grid-cols-[auto_auto]" id="nav">
  <%= link_to root_path do %>
    <div class="avatar-circle avatar-circle-sm">
      <% if current_user.avatar.attached? %>
        <%= image_tag(current_user.avatar_as_thumbnail("small").url) %>
      <% else %>
        <%= current_user.username[0] %>
      <% end %>
    </div>
  <% end %>
  <%= link_to current_user.username, root_path %>
  <%= link_to image_tag("dashboard-svgrepo-com.svg", :alt => "A dashboard icon", :class => "", size: "30x30"), "#" %>
  <%= link_to "Dashboard", dashboard_path  %>
  <%= link_to image_tag("chat-chat-svgrepo-com.svg", :alt => "A chat icon", :class => "", size: "30x30"), "#" %>
  <%= link_to "Chat", "#"  %>
  <%= link_to image_tag("dogs.png", :alt => "Icon with 2 dogs", :class => "", size: "30x30"), "#" %>
  <%= link_to "Friends", ""  %>
  <%= link_to image_tag("logout-svgrepo-com.svg", :alt => "A logout icon", :class => "", size: "30x30"), "#" %>
  <%= link_to "Log out", destroy_user_session_path, class: "link", method: :delete, data: { turbo_method: :delete } %>
  <%= link_to image_tag("support-svgrepo-com.svg", :alt => "An icon representing support", :class => "", size: "30x30"), "#" %>
  <%= link_to "Support", ""  %>
  <%= link_to image_tag("privacy-tips-svgrepo-com.svg", :alt => "A shield representing privacy", :class => "", size: "30x30"), "#" %>
  <%= link_to "Privacy", ""  %>
  <%= link_to image_tag("about-filled-svgrepo-com.svg", :alt => "An icon representing about us", :class => "", size: "30x30"), "#" %>
  <%= link_to "About Pawbook", ""  %>
</div>
<%
=begin %>
TODO: Delete me
<div>
  #posts=<%= Post.count %><br>
  #TextContent=<%= Post.where(postable_type: 'TextContent').count %><br>
  #PhotoContent=<%= Post.where(postable_type: 'PhotoContent').count %><br>
  <% if flash.empty? %>
    <div>No flash messages.</div>
  <% else %>
    <% flash.each do |type, msg| %>
      <div><%= msg %></div>
    <% end %>
  <% end %>
</div>
<%
=end %>
